/*Folha de estilo*/

body {
	margin: 0;
    background-color: #fff;  
}

header{
	background:orange;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FD6A02;
	list-style-type: none;
	margin: 0px;
}

#menu li {
	display: block;  
	line-height: 55px;
}

#menu li a {  
    padding: 0 20px;  
    color: #FFF;  
    text-decoration: none;
}

#menu li:hover {  
    background-color: #EF820D;
}

#menu button {
	margin: 10px;
}

#search-bar {
	border-radius: 25px;
    border: 2px solid #FD6A02;
    padding: 20px; 
    width: 300px;
}

#profile {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 0 30px;
}

#profile button {
	border: none;
	padding: 20px;
	background-color: white;
	border-radius: 100%;
}

img {  
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;
  	width: 150px; 
}

footer {
	text-align: left;
	padding-top: 1.5%;
	padding-bottom: 1.5px;
	padding-left: 5%;
	background-color: rgb(1, 1, 75);
	color: white;
}

#Icons {
	padding-left: 80%;
}

.SocialMediaIcons {
  	width: 30px;
  	margin: 5px;
	border-radius: 80%;
}

.SocialMediaIcons:hover {
	opacity: 0.7;
}

#InstagramIcon {
	background: rgb(18, 86, 136);
}

#FacebookIcon {
	background: rgb(59, 89, 152);
}

#LinkedinIcon {
	background: rgb(0, 123, 181);
}

#EmailIcon {
	background: rgb(0, 65, 106);
}